@font-face {
  font-family: Satoshi-Light;
  /* Keep URLs relative so this works in extension, dev-server, and Electron contexts. */
  src: url("./Satoshi-Light.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Medium;
  src: url("./Satoshi-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Satoshi-Bold;
  src: url("./Satoshi-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
	font-family: Gloria-Hallelujah;
	src: url("./GloriaHallelujah-Regular.ttf") format("truetype");
}
