@use "../global/variables.scss" as *;

.content {
  display: flex;
  position: absolute;
  top: 80px;
  width: 100%;
  height: calc(100% - 80px);
  box-sizing: border-box;
  left: 0px;
}

.mainColumn {
  flex: 1;
  min-width: 0;
  display: flex;
  flex-direction: column;
  background: #fff;
}

.player {
  position: absolute;
}

@media (max-width: 900px) {
  .content {
    display: block !important;
    height: auto !important;
  }
  .mainColumn {
    display: block !important;
  }
  .player {
    position: relative;
  }
}
